.launch_div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    width: 500px;
    margin-left: 10px;
    padding: 5px;
}
img{
    width: 100px;
    height: 100px;
}